<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fhr.mybatis.mapper.SpecialSQLMapper">

    <!--List<User> getUserByLike(@Param("mohu")String mohu);-->
    <select id="getUserByLike" resultType="User">
        <!--select * from t_user where username like '%${mohu}%'--><!--采用${}方式-->
        <!--select * from t_user where username like concat('%',#{mohu},'%')--><!--采用concat函数拼接-->
        select * from t_user where username like "%"#{mohu}"%"<!--以后常用，用双引号-->
    </select>

    <!--void deleteMoreUser(@Param("ids")String ids);-->
    <delete id="deleteMoreUser">
        delete from t_user where id in (${ids}) <!--只能用${}方式-->
    </delete>

    <!--List<User> getUserList(@Param("tableName")String tableName);-->
    <select id="getUserList" resultType="User">
        select * from ${tableName}  <!--只能使用${}-->
    </select>

    <!--void insertUser(User user);-->
    <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
        insert into t_user values(null,#{username},#{password},#{age},#{gender},#{email})
    </insert>
</mapper>